streamlit
git+https://github.com/openai/whisper.git
transformers
torch
sentence-transformers
faiss-cpu
git+https://github.com/cardiffnlp/tweeteval.git
gTTS
pygame
sqlite-utils
plotly
ffmpeg-python
